@charset "utf-8";
body, section, div, table, thead, tbody, tfoot, th, td, p, pre, ul, ol, dl, dt, dd, li, span, nav, header, footer {
  margin: 0;
  padding: 0;
}
body, p, li{
  margin : 20px;
}
h1, h2, h3, h4 {
  page-break-after: avoid;
}
p {
  text-align: justify;
  page-break-inside: avoid;
}